body {
  background-color: white;
  background-size: cover;
  background-position: center;
  font-family: 'Gugi', cursive;
  text-align: center;
  transition: background-color 250ms ease-in;
  margin: 0;
}
#input_container {
  top: 0;
  right: 0;
  width: 390px;
  max-width: 95 vw;
  z-index: 10;
  position: absolute;
  transform: translate(0, 200px);
  border-radius: 3px;
}

.keys-container {
  img {
    height: 100px;
    width: 100px;
  }
}

img {
  width: 200px;
  height: auto;
}
.pokemon-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: translate(0, 15vh);
  padding: 50px;
  background-color: green;
  transition: transform 0.3s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 1em;
}
.pokemon-select:hover {
  transform: scale(1.0001);  
}
.types {
  border-radius: 1em;
  border: 1px solid ;
  div{ 
    border-radius: 1em  ;
  }
}
.pokemon {
  display: flex;
  h1 {
    display: flex;
  }
}
.pokeoption-root {
  img {
    width: 200px;
    height: auto;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.pokemon-select {
  img {
    width: 200px;
    height: auto;
  }

  h2 {
    text-align: left;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading {
  display: true;
}

input {
  font-size: 30px;

  padding: 10px 5px 0px 5px;
  outline: none;
  display: inline;
  height: 52px;
  line-height: 52px;
  font-family: 'segoi ui';
  transform: translate(0, 100px);
  border-radius: 1em;
  padding-left: 15px;
}

.icon {
  display: flex;
  img {
    height: 50px;
    width: auto;
    align-content: left;
  }
}

.response {
  margin-top: 100px;
}
.keys-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  direction: rtl;
}
