body {
  background-color: white;
  background-size: cover;
  background-position: center;
  font-family: 'Gugi', cursive;
  text-align: center;
  transition: background-color 250ms ease-in;
  margin: 0;
}

.keys-container {
  img {
    height: 100px;
    width: 100px;
  }
}

img {
  width: 200px;
  height: auto;
}
.pokemon-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: green;
  transition: transform 0.3s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 1em;
}

.pokemon {
  display: flex;
  h1 {
    display: flex;
  }
}
.pokeoption-root {
  img {
    width: 200px;
    height: auto;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.pokemon-select {
  img {
    width: 200px;
    height: auto;
  }

  h2 {
    text-align: left;
  }
}
.main {
  display: flex;
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.loading {
  display: true;
}

input.search-bar {
  font-size: 30px;
  display: inline;
  font-family: system-ui;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: 600;
}

.icon {
  display: flex;
  img {
    height: 50px;
    width: auto;
    align-content: left;
  }
}

.response {
  margin-top: 50px;
}
.keys-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  direction: rtl;
}

@media (min-width: 640px) {
  div.pokemon > div.name {
      display: flex;
      justify-items: center;
      align-items: center;
  }

  .pokemon {
      display: flex;
      flex-direction: column;
  }    
}

@media (min-width: 1024px) {
  .pokemon {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

.info > *:not(:last-child) {
  margin-bottom: 24px;
}

.types {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px;
  padding: 8px 10px;
  font-family: system-ui;
  font-weight: 600;

  & > div:not(:last-child) {
    margin-right: 1.25rem;
  }
  
  .title {
    text-transform: uppercase;
  }
  .sep {
    font-size: 25px;
    font-weight: 200;
    transform: translate(0px, -3.5px);
  }

  .type {
    background: rgb(107, 114, 128);
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}

.type-title {
  margin-right: 6px;
}

.name {
  text-align: center;
}

.keys {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  align-items: center;

  .key {
    display: flex;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    background: white;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    --size: 50px;
    &:last-child {
      margin-right: 0px;
    }
    &.return {
      font-size: 20px;
    } 
  }

}

